body {
    background-image: url("../images/baha.gif");
    background-repeat: no-repeat; 
}

#headbar {
    color: ghostwhite;
    background-color: lightseagreen;
}

.toplist {
    border-left: 1px dotted black;
}

.toplist_dot {
    border-left: 1px dotted black; 
}

#pstlst {
    background-color: lightsalmon;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

#post_list {
    font-size: 40px;
    color: white;
}

#option {
    width: 120px;
    color: white;
    border-left: 1px dotted black;
}

#str_bfr {
    font-size: 30px;
}