body {
    background-image: url("../images/stone.jpg");
    background-repeat: cover;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1.0;}
}

input {
    padding: 10px;
    border:2px solid gray;
    border-radius: 5px;
}

.login_block {
    padding-left: 10%;
    padding-top: 0%;
    zoom: 1.5;
}

.title {
    color: blue;
}

#headline {
    color: salmon;
    font: 42px Times;
    font-weight: 800;
}