.flex-container {
    display: flex;
    justify-content: center;
}

.col-8 {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
}

.col-4 {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
}